{% extends 'base.html' %}

{% block titulo %} Inicio {% endblock%}

{% block style_css %}
{% endblock %}
{% block encabezado %}
    . 

{% endblock %}
{% block contenido %}

<ul>
	<table class="table table-hover">
	<caption><h4>Lista de todos los Host</h4></caption>
		<theader>
			<tr>
				<th scope="col">Host</th>
				<th scope="col">Serial</th>
				<th scope="col">Modelo</th>
				<th scope="col">Fuentes</th>
				<th scope="col">Fuentes Conect.</th>
				<th scope="col">Fila</th>
				<th scope="col">Rack</th>
				<th scope="col">Status</th>
			</tr>
		</theader>
	{% for indice in lista_equipos %}
		<tbody>
			<tr>
				<td><a href='/equipo/equipos/{{indice.id}}'>{{indice.host_name}}</a></td>
				<td>{{indice.serial}}</td>
				<td>{{indice.modelo}}</td>
				<td>{{indice.fuentes}}</td>
				<td>{{indice.fuentes_conectadas}}</td>
				<td>{{indice.fila}}</td>
				<td>{{indice.rack}}</td>
				<td>{{indice.status}}</td>
			</tr>
		</tbody>
	{% endfor %}
	</table>
</ul>

{% endblock %}

